#carnet-container{
  text-align: center;
}

#carnet-container svg {
    border-radius: 1rem;
    border: gray solid 0.1rem;
    box-shadow:  0 0.5rem 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 1rem;
}

@page {
  size: 86mm 54mm;
  margin: 0;
}

@media print {
  #carnet-container{
    width: 85.4mm !important;
    height: 53.3mm !important;
    margin: 0;
    padding: 0;
    display: block !important;
    text-align: center;
  }

  #carnet-container svg {
    width: 100%;
    height: 100%;
    border-radius: 0;
    border:none;
    box-shadow: none;
    margin: 0;
    padding: 0;
  }
}